/*
Theme Name: Hestia Child
Template: hestia
*/

.vertical-spacing{
  padding-top: 60px;
  padding-bottom: 60px;
}

.mb-4{
  margin-bottom: 4rem;
}

.no-margin{
  margin: 0;
}

.img-responsive img{
  max-width: 100%;
  height: auto;
}


body.home .main-raised{
  margin: 0;
}

.u-upp{
  text-transform: uppercase;
}

.title-section{
  text-align: center;
}
.title-section a{
  font-weight: bold;
  position: relative;
  padding-right: 20px;
}

.title-section a:after{
  content: ">";
  position: absolute;
  right: 4px;
  top: -2px;
  transition: all .5s ease-in-out;
}

.title-section a:hover{
  text-decoration: none;
}
.title-section a:hover:after{
  right: 0;
}

.events--item,
.formazione--item{
  display: block;
  margin-bottom: 24px;
}

.events--image{
  padding: 0;
}

.events--text {
  padding: 0 32px;
}
.events--text h2,
.events--text h3{
  margin-bottom: 16px;
}
.events--text p{
  color: rgba(50,50,50,0.95);
  font-weight: 500;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .title-section{
    text-align: left;
  }
  .title-alternative{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .events--item,
  .formazione--item{
    margin-bottom: 0;
  }
}

#carousel-hestia-generic{
  height: 70vh;
  overflow: hidden;
}


.hero-header{
  height: 400px;
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text{
  position: absolute;
  padding-top: 70px;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  z-index: 200;
}

.hero-text h1{
  font-size: 6rem;
}
.hero-text p{
  font-size: 2.4rem;
}
